<!--必要な情報　投稿内容=posts プロフィールに表示されているユーザー=profile_user-->
<div class="row m-3">
  <% posts.each do |post| %>
    <div class="position-relative card shadow-sm mb-1" style = "width:100%" >
      <div class="card-body m-3">
        <div class="row align-items-center">
            <%= link_to '', post_path(post), class: 'position-absolute post-box-link' %>
          <div class="col-1">
            <%= link_to user_path(post.user_id, page:"posts"), class: 'position-relative post-box-link__profile' do %>
              <%= image_tag post.user.get_user_image(300,300), class: 'img-fluid'%>
            <% end %>
          </div>
          <div class="col-8">
            <%= link_to user_path(post.user_id,page:"posts"), class: 'position-relative post-box-link__profile' do %>
              <%= post.user.name %>
            <% end %>
          </div>
          <div class="col-3">
            <% if user_signed_in? %>
              <% if current_user != post.user %>
                <% if current_user.following?(post.user) %>
                  <%= link_to "フォロー外す", user_follows_path(post.user), method: :delete,class: 'position-relative post-box-link__profile btn btn-info' %>
                <% else %>
                  <%= link_to "フォローする", user_follows_path(post.user), method: :post, class: 'position-relative post-box-link__profile btn btn-success' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="m-3 text-break">
          <%= simple_format(post.body, sanitize: true, class: 'm-0') %>
        </div>
        <div class="m-3">
          <% if post.image.attached? %>
            <%= image_tag post.image, width:'40%' %>
          <% end %>
        </div>
      </div>
      <div class="row m-3">
        <div class="offset-1 col-1">
          <i class="fa-regular fa-comment"></i> <%= post.child_comments.count(:post_id) %>
        </div>
        <!--bookmark-->
        <div class="offset-1 col-1">
          <% if user_signed_in? %>
            <div id="bookmark_btn_<%= post.id %>">
              <%= render partial: "/public/bookmarks/bookmark", locals: { post: post, user: user } %>
            </div>
          <% end %>
        </div>
        <div class="col-4">
          <p>投稿日時: <%= formatted_date_jp(post.created_at) %></p>
          <% if formatted_date_jp(post.created_at) != formatted_date_jp(post.updated_at) %>
            <p>更新日時 : <%= formatted_date_jp(post.updated_at) %></p>
          <% end %>
        </div>
        <div class="col-2">
          <% if admin_signed_in? %>
            <%= link_to '削除', admin_post_path(post), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
          <% elsif current_user == post.user %>
            <%= link_to "削除", post_path(post), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: {confirm: "削除しますか？"} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>