  <!--必要な情報　post_show 現在の投稿の情報 プロフィールに表示されているユーザー=user-->
      <div class="row mx-3 mt-3">
        <div class="position-relative card shadow-sm mb-1" style = "width:100%" >
          <div class="card-body m-3">
            <div class="row align-items-center">
              <div class="col-2">
                <%= link_to user_path(post_show.user_id,page:"posts"), class: 'position-relative post-box-link__profile' do %>
                  <%= image_tag post_show.user.get_user_image(300,300), class: 'img-fluid'%>
                <% end %>
              </div>

              <div class="col-7">
                <%= link_to user_path(post_show.user_id,page:"posts"), class: 'position-relative post-box-link__profile' do %>
                  <%= post_show.user.name %>
                <% end %>
              </div>

              <div class="col-3">
                <% if user_signed_in? %>
                  <% if current_user != post_show.user %>
                    <% if current_user.following?(post_show.user) %>
                      <%= link_to "フォロー外す", user_follows_path(post_show.user), method: :delete,class: 'position-relative post-box-link__profile btn btn-info' %>
                    <% else %>
                      <%= link_to "フォローする", user_follows_path(post_show.user), method: :post, class: 'position-relative post-box-link__profile btn btn-success' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="m-3 text-break">
              <%= simple_format(post_show.body, sanitize: true, class: 'm-0') %>
            </div>

            <div class="m-3">
              <% if post_show.image.attached? %>
                <%= image_tag post_show.image, class: 'img-fluid' %>
              <% end %>
            </div>

          </div>

          <div class="row m-3">
            <div class="offset-1 col-1" id="child_comments_counter">
              <%= render partial: "/public/posts/post_child_comments_counter", locals: { post_record: post_show } %>
            </div>

            <div class="offset-1 col-1">
              <div class="offset-1 col-1">
                <% if post_show.class_name == 'Post' && action_name =='show' %>
                  <% if user_signed_in? %>
                    <div id="bookmark_btn_<%= post_show.id %>">
                      <%= render partial: "/public/bookmarks/bookmark", locals: { post: post_show, user: user } %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="col-4">
              <p>投稿日時: <%= formatted_date_jp(post_show.created_at) %></p>
              <% if formatted_date_jp(post_show.created_at) != formatted_date_jp(post_show.updated_at) %>
                <p>更新日時 : <%= formatted_date_jp(post_show.updated_at) %></p>
              <% end %>
            </div>
            <div class="col-2">
              <% if admin_signed_in? %>
                <% if post_show.class_name == 'Post' %>
                  <%= link_to '削除', admin_post_path(post_show), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
                <% elsif post_show.class_name == 'Comment' %>
                  <%= link_to '削除', admin_comment_path(post_show), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
                <% end %>

              <% elsif current_user == post_show.user %>
                <% if post_show.class_name == 'Post' %>
                  <%= link_to "削除", post_path(post_show), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: {confirm: "削除しますか？"} %>
                  <% if action_name =='show' %>
                    <%= link_to "変更", edit_post_path(post_show),class: 'position-relative btn btn-info' %>
                  <% end %>
                <% elsif post_show.class_name == 'Comment' %>
                  <%= link_to "削除", post_comment_path(post_show), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: {confirm: "削除しますか？"} %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>