    <!--必要情報　profile_user=表示するユーザー情報　newpost＝新規投稿用の枠-->
    <div class="mt-3 text-center position-sticky sidebar">
      <% if user_signed_in? %>
        <%= link_to user_path(profile_user) do %>
          <%= image_tag profile_user.get_user_image(100,100) %>
        <% end %>

        <% if profile_user.email != 'guest@example.com' %>
          <%= link_to edit_user_registration_path do %>
            <i class="fa-solid fa-gear"></i>
          <% end %>
        <% end %>

        <%= link_to user_path(profile_user) do %>
          <%= simple_format(profile_user.name, sanitize: true, class: 'm-0') %>
        <% end %>


        <div class="form-group">
          <%= simple_format(profile_user.profile, sanitize: true, class: 'm-0') %>
        </div>

        <div class="form-group mt-3">
          <p>
            <%= link_to user_path(profile_user, page:'follows') do %>
              フォロー:<%= profile_user.followings.count %>
            <% end %>
            フォロワー:<%= profile_user.followers.count %>
          </p>
        </div>
        <div class="form-group">
          <%= link_to user_path(profile_user, page:'bookmarks') do %>
            <p>ブックマーク: <%= profile_user.bookmarks.count %></p>
          <% end %>
        </div>

        <%= profile_user.profile %>


        <% if profile_user == current_user %>
          <div class="m-3">
           <%= form_with model: newpost do |f| %>
            <div class="form-group">
              <img id="new_post_image-preview" class="img-fluid"></img>
            </div>
              <%= f.file_field :image, accept: "image/*",id:'new_post_image', class: "w-100" %>
              <div class="input-group mb-3 mt-4">
              <%= f.text_area :body, class: "form-control", placeholder: "内容をここに" %>
              </div>
              <hr>
              <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="text-center mt-5">
        <%= image_tag 'logo.png', width: '50%' %>
        </div>
      <% end %>
    </div>

 <script>
  $('#new_post_image').on('change', function test(e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#new_post_image-preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>