<div class="containar">
  <div class="row">

    <div class="col-3">
      <%= render "profile",profile_user: @user, newpost: @newpost %>
    </div>

    <div class="col-9">

      <div class="m-3">
        <%= form_with model: @post do |f| %>
        <div class="position-relative card shadow-sm">
          <div class="card-body m-3">
            <div class="row align-items-center">

              <div class="col-2">
                <%= link_to user_path(@post.user_id), class: 'position-relative' do %>
                  <%= image_tag @post.user.get_user_image(300,300), class: 'img-fluid'%>
                <% end %>
              </div>

              <div class="col-10">
                <div class="row">
                  <div class="col-8">
                    <%= link_to user_path(@post.user_id), class: 'position-relative' do %>
                      <%= @post.user.name %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <%= f.text_area :body, id: "opinion", style:"width:100%" %>
            </div>

            <div>
              <%= f.file_field :image, accept: "image/*", class: "w-100", id: 'post_image'%>

              <% if @post.image.attached? %>
                <%= image_tag @post.image, width:'80%', id: 'post-image-preview' %>
              <% else %>
                <div class="form-group">
                  <img id="post-image-preview" class="img-fluid"></img>
                </div>
              <% end %>
            </div>

            <div class="row m-3">
              <div class="offset-1 col-1">
                <i class="fa-regular fa-comment"></i> <%= @post.comments.count(:post_id) %>
              </div>

              <div class="offset-1 col-1">
                <i class="fa-regular fa-bookmark position-relative"></i>
              </div>

              <div class="col-4">
                <p>投稿日時: <%= @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
                  <% if @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') != @post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %>
                <p>更新日時 : <%= @post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
                <% end %>
              </div>

              <div class="col-2">
              <%= f.submit "更新",class: "btn btn-secondary" %>
              <% end %>

              </div>
              <script>
                $('#post_image').on('change', function (e) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                      $("#post-image-preview").attr('src', e.target.result);
                  }
                  reader.readAsDataURL(e.target.files[0]);
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>