<div class="containar">
  <div class="row">
    <div class="col-3">
      <%= render "profile",profile_user: @user, newpost: @newpost %>
    </div>

    <div class="col-9">
      <ul class="tab mt-3 list-unstyled">
        <li  class="active"><a href="#all">ALL</a></li>
        <% if user_signed_in? %>
          <% @presets.each do |preset| %>
            <li><a href="#preset<%= preset.id %>"><%= preset.name %></a></li>
          <% end %>
          <% if @presets.count < 3 %>
           <li><a href="#new">+新規登録</a></li>
          <% end %>
          <li><i class="fa-solid fa-gear"></i></li>

        <% end %>
      </ul>
      
      <div id="all" class="area is-active">
        <h2>全件表示</h2>
        <div id="all-posts">
          <%= render "post", posts: @posts, user: @user %>
        </div>
      </div>

      <% if user_signed_in? %>
        <% @presets.each do |preset| %>
          <div id="preset<%= preset.id %>" class="area">
            <div id="gear" class="area col-6">
              <div class="pt-3 row justify-content-center">
                <%= form_with(model: [current_user, preset], url: user_preset_path(current_user, preset), method: :patch, local: false) do |form| %>
                <%= hidden_field_tag :page, preset.id %>
                  <div class="field text-right">
                    <%= form.label "プリセット名：" %>
                    <%= form.text_field :name, class:"preset-box", placeholder: "1～10文字まで" %>
                  </div>

                  <div class="field text-right">
                    <%= form.label "検索ワード：" %>
                    <%= form.text_field :words, class:"preset-box", placeholder: "20文字まで" %>
                  </div>


                  <div class="field text-right">
                    <%= form.label "対象のユーザー：" %>
                    <%= form.select(:target, Preset.targets_for_select, {selected: preset.target}, class:"preset-box") %>
                  </div>

                  <div class="field text-right">
                    <%= form.label "検索条件：" %>
                    <%= form.select(:option, Preset.options_for_select, {selected: preset.option}, class:"preset-box") %>
                  </div>

                  <div class="actions text-center m-3">
                    <%= form.submit '条件変更' %>
                    <div class="text-right">
                      <i class="gear-close fa-regular fa-rectangle-xmark"></i>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <!--プリセット使用時の投稿一覧-->
            <div id="preset-posts-<%= preset.id %>">
              <%= render "post", posts: instance_variable_get("@results#{preset.id}"), user: @user %>
            </div>
          </div>
        <% end %>

        <!--プリセット新規登録タブ↓-->
        <div id="new" class="area col-6">
          <div class="pt-3 row justify-content-center">
            <%= form_with model: @newpreset, url: user_presets_path(current_user), method: :post, local: false do |newpreset| %>
              <div class="field text-right">
                <%= newpreset.label "プリセット名：" %>
                <%= newpreset.text_field :name, class:"preset-box", placeholder: "1～10文字まで" %>
              </div>

              <div class="field text-right">
                <%= newpreset.label "検索ワード：" %>
                <%= newpreset.text_field :words, class:"preset-box",placeholder: "20字以内" %>
              </div>

              <div class="field text-right">
                <%= newpreset.label "対象のユーザー：" %>
                <%= newpreset.select(:target, Preset.targets_for_select,{}, class:"preset-box") %>
              </div>

              <div class="field text-right">
                <%= newpreset.label "検索条件：" %>
                <%= newpreset.select(:option, Preset.options_for_select,{}, class:"preset-box") %>
              </div>

              <div class="actions text-center m-3">
                <%= newpreset.submit 'プリセット追加' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  //任意のタブにURLからリンクするための設定
  function GethashID (hashIDName){
    if(hashIDName){
      //タブ設定
      $('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
        var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
        if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
          var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
          $('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
          $(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
          //表示させるエリア設定
          $(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
          $(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
        }
      });
    }
  }

  //タブをクリックしたら
  $('.tab a').on('click', function() {
    var idName = $(this).attr('href'); //タブ内のリンク名を取得
    GethashID (idName);//設定したタブの読み込みと
    return false;//aタグを無効にする
  });

  // プリセット編集タブ関連↓
   $('.tab i').on('click', function() {
     $(gear).addClass("preset-tab");
    return false;//aタグを無効にする
  });

  $('.gear-close').on('click', function(){
    $(gear).removeClass("preset-tab");
  });

// タイムライン更新機能
  setInterval(function () {
    $.ajax('/partial_ajax')
    .done( (data) => {
      $('#all-posts').html(data);
    })
    .fail(function (jqXHR, textStatus, errorThrown) {
                    // 通信失敗時の処理
                    alert('ファイルの取得に失敗しました。');
                    console.log("ajax通信に失敗しました");
                    console.log("jqXHR          : " + jqXHR.status); // HTTPステータスが取得
                    console.log("textStatus     : " + textStatus);    // タイムアウト、パースエラー
                    console.log("errorThrown    : " + errorThrown.message); // 例外情報
                    console.log("URL            : " + url);
            })

    <% @presets.each do |preset| %>
      $.ajax('/partial_ajax/<%= preset.id %>')
      .done( (data) => {
        $('#preset-posts-<%= preset.id %>').html(data);
      })
    <% end %>
  }, 300*1000)

</script>
