<div class="containar">
  <div class="row">
    <div class="col-3">
    <%= render "profile",profile_user: @user, newpost: @newpost %>
    </div>


<%= @follow %>
    <div class="col-9">
      <ul class="tab list-unstyled">
        <li  class="active"><a href="#all">ALL</a></li>
        <% if user_signed_in? %>
          <% @presets.each do |f| %>
            <li><a href="#preset<%= f.number %>"><%= f.name %></a></li>
          <% end %>
          <% if @max < 3 %>
           <li><a href="#new">+新規登録</a></li>
          <% end %>

        <% end %>
      </ul>


      <div id="all" class="area is-active">
        <h2>全件表示</h2>
        <%= render "post",posts: @posts %>
      <!--/area-->
      </div>

      <% if 0 < @max %>
        <div id="preset1" class="area">
          <h2>プリセット1</h2>
          <% @presets.each do |preset| %>

          <!--FIXME確認用　あとで消す↓-->
          <p>target<%= preset.target %>option<%= preset.option %></p>


  <%= form_with(model: [@user, preset], url: user_preset_path(@user,preset), method: "patch") do |form| %>
      <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :words %>
    <%= form.text_field :words %>
  </div>


  <div class="field">
    <%= form.label :target %>
    <%= form.select(:target, Preset.targets_i18n.invert) %>
  </div>

  <div class="field">
    <%= form.label :option %>
    <%= form.select(:option, Preset.options_i18n.invert) %>
  </div>
    <%= form.submit 'Update Preset' %>
  <% end %>
<% end %>
          <%= render "post",posts: @results1 %>
          <!--/area-->
        </div>

        <% if 1 < @max %>
          <div id="preset2" class="area">
          <h2>プリセット2</h2>
          <%= render "post",posts: @results2 %>

          <!--/area-->
        </div>

        <% if 2 < @max %>
        <div id="preset3" class="area">
          <h2>プリセット3</h2>
          <%= render "post",posts: @results3 %>

          <!--/area-->
        </div>
        <% end %>
        <% end %>
        <% end %>



        <div id="new" class="area">
          <h2>新規作成</h2>
          <%= form_with model: @newpreset, url: user_presets_path(@user), method: :post do |f| %>
            <%= f.text_field :name %>
            <%= f.text_area :words %>
            <%= f.select :target, Preset.targets.keys %>
            <%= f.select :option, Preset.options.keys %>
          <%= f.submit "Create" %>
          <% end %>

          <!--/area-->
        </div>


    </div>
  </div>
</div>

<script>
  //任意のタブにURLからリンクするための設定
  function GethashID (hashIDName){
    if(hashIDName){
      //タブ設定
      $('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
        var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
        if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
          var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
          $('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
          $(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
          //表示させるエリア設定
          $(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
          $(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
        }
      });
    }
  }

  //タブをクリックしたら
  $('.tab a').on('click', function() {
    var idName = $(this).attr('href'); //タブ内のリンク名を取得
    GethashID (idName);//設定したタブの読み込みと
    return false;//aタグを無効にする
  });
</script>
