<div class="containar">
  <div class="row">
    <div class="col-3">
    <%= render "profile",profile_user: current_user, newpost: @newpost %>
    </div>

    <div class="col-9">
      <ul class="tab list-unstyled">
        <li  class="active"><a href="#all">ALL</a></li>
        <% if user_signed_in? %>
          <% @presets.each do |preset| %>
            <li><a href="#preset<%= preset.id %>"><%= preset.name %></a></li>
          <% end %>
          <% if @presets.count < 3 %>
           <li><a href="#new">+新規登録</a></li>
          <% end %>
          <li><i href="#gear" class="fa-solid fa-gear"></i></li>

        <% end %>
      </ul>



      <div id="all" class="area is-active">
        <h2>全件表示</h2>
        <%= render "post", posts: @posts %>
      </div>

      <% if user_signed_in? %>
      <% @presets.each do |preset| %>
        <div id="preset<%= preset.id %>" class="area">
          <div id="gear" class="area col-6">
            <h2><%= preset.name %></h2>
            <%= form_with(model: [current_user, preset], url: user_preset_path(current_user, preset), method: :patch) do |form| %>
              <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name %>
              </div>

              <div class="field">
                <%= form.label :words %>
                <%= form.text_field :words %>
              </div>


              <div class="field">
                <%= form.label :target %>
                <%= form.select(:target, Preset.targets_for_select, {selected: preset.target}) %>
              </div>

              <div class="field">
                <%= form.label :option %>
                <%= form.select(:option, Preset.options_for_select, {selected: preset.option}) %>
              </div>
              <%= form.submit 'Update Preset' %>
            <% end %>
            <div class="text-right">
              <i id="close" class="fa-regular fa-rectangle-xmark"></i>
            </div>
          </div>

          <%= render "post", posts: instance_variable_get("@results#{preset.id}") %>
        </div>
      <% end %>



        <div id="new" class="area">
          <h2>新規作成</h2>
          <%= form_with model: @newpreset, url: user_presets_path(current_user), method: :post do |f| %>
            <%= f.text_field :name %>
            <%= f.text_area :words %>
            <%= f.select :target, Preset.targets.keys %>
            <%= f.select :option, Preset.options.keys %>
          <%= f.submit "Create" %>
          <% end %>

          <!--/area-->
        </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  //任意のタブにURLからリンクするための設定
  function GethashID (hashIDName){
    if(hashIDName){
      //タブ設定
      $('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
        var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
        if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
          var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
          $('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
          $(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
          //表示させるエリア設定
          $(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
          $(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
        }
      });
    }
  }

  //タブをクリックしたら
  $('.tab a').on('click', function() {
    var idName = $(this).attr('href'); //タブ内のリンク名を取得
    GethashID (idName);//設定したタブの読み込みと
    return false;//aタグを無効にする
  });

  // プリセット編集タブ関連↓
   $('.tab i').on('click', function() {
     $(gear).addClass("preset-tab");
    return false;//aタグを無効にする
  });

  $('#close').on('click', function(){
    $(gear).removeClass("preset-tab");
  });
</script>
