<div class="containar">
  <div class="row">
    <div class="col-3">

    <%= render "profile",profile_user: @user, newpost: @newpost %>

    </div>

    <div class="col-9">
       <ul class="tab list-unstyled">
        <li class="<%= params[:page] == 'posts' || action_name == 'search' ? 'active' : '' %>"><a href="#posts">投稿検索</a></li>
        <li class="<%= params[:page] == 'users' ? 'active' : '' %>"><a href="#users">ユーザー検索</a></li>
      </ul>

      <div id="posts" class="area<%= params[:page] == 'posts' || action_name == 'search' ? ' is-active' : '' %>">
        <div class="mt-3">
          <%= form_tag(search_words_path, method: :get) do %>
            <%= hidden_field_tag :page, 'posts' %>
            <%= label_tag :keywords, '投稿検索ワード:' %>
            <%= text_field_tag :keywords, params[:keywords] %>
            <%= select_tag('type', options_for_select([%w[AND AND], %w[OR OR]], { :selected => params[:type] })) %>
            <%= submit_tag '検索', class:"btn btn-primary" %>
          <% end %>
        </div>
            <%# @resultsにデータが入っていれば検索結果を表示する %>

        <% if @keywords.nil? || @keywords.empty? %>
          <h2>全件表示</h2>
          <%= render "post",posts: @posts_results %>
        <% else %>
          <% if @posts_results.present? %>
            <h2><%= @keywords %> を含む検索結果 ( <%= @type %> )</h2>
            <%= render "post",posts: @posts_results %>
          <% else %>
            <h2>該当の検索結果がありません。</h2>
          <% end %>
        <% end %>


        <!--/area-->
      </div>

      <div id="users" class="area<%= params[:page] == 'users' ? ' is-active' : '' %>">
        <div class="mt-3">
          <%= form_tag(search_words_path, method: :get) do %>
            <%= hidden_field_tag :page, 'users' %>
            <%= hidden_field_tag :type, 'AND' %>
            <%= label_tag :keywords, 'ユーザー検索ワード:' %>
            <%= text_field_tag :keywords, params[:keywords] %>
            <%= submit_tag '検索', class:"btn btn-primary" %>
          <% end %>
        </div>
            <%# @resultsにデータが入っていれば検索結果を表示する %>

        <% if @keywords.nil? || @keywords.empty? %>
          <h2>検索ワードを入力してください</h2>
        <% else %>
          <% if @users_results.present? %>
            <h2><%= @keywords %> を含む検索結果 ( <%= @type %> )</h2>
             <%= render "public/users/users_index",users: @users_results %>
          <% else %>
            <h2>該当の検索結果がありません。</h2>
          <% end %>
        <% end %>


        <!--/area-->
      </div>

    </div>
  </div>
</div>
 <script>
    // 任意のタブにURLからリンクするための設定
      function GethashID (hashIDName){
      	if(hashIDName){
        // タブ設定
      		$('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
      			var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
      			if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
      				var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
      				$('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
      				$(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
      				//表示させるエリア設定
      				$(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
      				$(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
      			}
      		});
      	}
      }

      //タブをクリックしたら
      $('.tab a').on('click', function() {
      	var idName = $(this).attr('href'); //タブ内のリンク名を取得
      	GethashID (idName);//設定したタブの読み込みと
      	return false;//aタグを無効にする
      });
    </script>