<div class = "containar">
  <div class = "row">

    <div class = "col-2">
    <%= render "profile", profile_user: @user, newpost: @newpost %>
    </div>

    <div class = "col-9 m-3">

       <div class = "row mx-3 mt-3">

        <div class ="position-relative card shadow-sm" style = "width:100%" >
          <div class = "row m-3">
            <div class = "col-1">
            <%= link_to user_path(@post.user_id), class: 'position-relative' do %>
            <%= image_tag @post.user.get_user_image(300,300), class: 'img-fluid' %>
            <% end %>
            </div>

            <div class = "col-11">
              <div class = "row">
                <div class = "col-8">
                <%= link_to user_path(@post.user_id), class: 'position-relative' do %>
                <%= @post.user.name %>
                <% end %>
                </div>
                <div class ="col-3">
                <% if user_signed_in? %>
                  <% if current_user != @post.user %>
                    <% if current_user.following?(@post.user) %>
                      <%= link_to "フォロー外す", user_follows_path(@post.user), method: :delete,class: 'position-relative btn btn-info' %>
                    <% else %>
                      <%= link_to "フォローする", user_follows_path(@post.user), method: :post, class: 'position-relative btn btn-success' %>
                    <% end %>
                  <% end %>
                <% end %>

                </div>
              </div>

              <div class = "row m-3 text-break">
              <%= simple_format(@post.body, sanitize: true, class: 'm-0') %>
              </div>

              <div>
              <% if @post.post_image.attached? %>
              <%= image_tag @post.post_image, class: 'img-fluid' %>
              <% end %>
              </div>
            </div>
          </div>

          <div class = "row m-3">
            <div class = "offset-1 col-1">
              <i class="fa-regular fa-comment"></i> <%= @post.comments.count(:post_id) %>
            </div>

            <div class = "offset-1 col-1">
              <i class="fa-regular fa-bookmark position-relative"></i>
            </div>

            <div class = "col-4">
              <p>投稿日時: <%= @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
                <% if @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') != @post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %>
              <p>更新日時 : <%= @post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
              <% end %>
            </div>

            <% if current_user == @post.user %>
            <div class = "col-2">
              <%= link_to "削除", post_path(@post), method: :delete,class: 'position-relative btn btn-danger', data: {confirm: "削除しますか？"} %>
              <%= link_to "変更", edit_post_path(@post),class: 'position-relative btn btn-info' %>
            </div>
            <% end %>

          </div>
        </div>
      </div>


<!--ここからコメント投稿欄-->
      <div class = "row mx-3">
        <div class ="position-relative card shadow-sm mb-3" style = "width:100%" >
          <div class = "row m-3">
            <div class = "col-2 p-3">
            <%= link_to user_path(@user), class: 'position-relative' do %>
            <%= image_tag @user.get_user_image(300,300), class: 'img-fluid' %>
            <% end %>
            </div>

            <div class = "col-10 p-3">
            <%= form_with model: @newcomment, url: post_comments_path(@post), method: :post do |f| %>
              <div class="form-group">
                <%= f.text_area :body, rows: '5', placeholder: "コメントをここに記入", class: 'form-control' %>
              </div>

              <div class="form-group">
                <img id="comment-image-preview" class="img-fluid"></img>
              </div>

              <div class="form-group">
                <%= f.file_field :comment_image, accept: "image/*", class: "w-100" %>
              </div>

              <div class="form-gorup">
                <div class="row">
                  <div class="col-md-5 mx-auto">
                    <%= f.submit "送信する", class: 'btn btn-info btn-block' %>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
        <script>
          $('#comment_comment_image').on('change', function test(e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#comment-image-preview").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
          });
        </script>

<!--ここからコメント欄-->
        <% @post.comments.each do |post_comment| %>
        <div class ="position-relative card shadow-sm" style = "width:100%" >
          <div class = "row m-3">
             <%= link_to '', post_comment_path(post_comment.post, post_comment), class: 'position-absolute post-box-link' %>
            <div class = "col-2 text-center">
            <%= link_to user_path(post_comment.user_id), class: 'position-relative post-box-link__profile' do %>
            <%= image_tag post_comment.user.get_user_image(300,300), class: 'img-fluid' %>
            <% end %>
            </div>

            <div class = "col-10">
              <div class = "row">
                <div class = "col-8">
                <%= link_to user_path(post_comment.user_id), class: 'position-relative post-box-link__profile' do %>
                <%= post_comment.user.name %>
                <% end %>
                </div>
                <div class ="col-3">
                <% if user_signed_in? %>
                  <% if current_user != post_comment.user %>
                    <% if current_user.following?(post_comment.user) %>
                      <%= link_to "フォロー外す", user_follows_path(post_comment.user), method: :delete,class: 'position-relative post-box-link__profile btn btn-info' %>
                    <% else %>
                      <%= link_to "フォローする", user_follows_path(post_comment.user), method: :post, class: 'position-relative post-box-link__profile btn btn-success' %>
                    <% end %>
                  <% end %>
                <% end %>

                </div>
              </div>

              <div class = "row text-break">
              <%= simple_format(post_comment.body, sanitaize: true, class: 'm-0') %>
              </div>
              <div>
              <% if post_comment.comment_image.attached? %>
              <%= image_tag post_comment.comment_image, width:'40%' %>
              <% end %>
              </div>

              <div class = "row m-3">
                <div class = "offset-1 col-1">
                </div>
                <div class = "offset-2 col-4">
                  <p>投稿日時: <%= post_comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
                  <% if post_comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') != post_comment.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %>
                  <p>更新日時 : <%= post_comment.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %></p>
                  <% end %>
                </div>


                <% if current_user == post_comment.user %>
                <div class = "col-2">
                <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: {confirm: "削除しますか？"} %>

                </div>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>