<div class="containar">
  <div class="row">

    <div class="col-3">
      <%= render "profile", profile_user: @user, newpost: @newpost %>
    </div>

    <div class="col-9">

      <%= link_to "<<戻る", posts_path %>
      <%= render "post_show", post_show: @post %>

<!--ここからコメント投稿欄-->
      <%= render "public/comments/comment_new",newcomment: @newcomment, user: @user, parent_post: @post, parent_id: @post.id %>
<!--ここからコメント欄-->
      <%= render "public/comments/comments_index", view_comments: @post.child_comments %>
      </div>
    </div>
  </div>
</div>