<div class="containar">
  <div class="row">

    <div class="col-3">
      <%= render "profile", profile_user: @user, newpost: @newpost %>
    </div>

    <div class="col-9">
      <%= link_to "<<戻る", 'javascript:history.back()' %>
      <%= render "post_show", post_show: @post, user: @user %>
<!--ここからコメント投稿欄-->
      <div id="comment_new">
        <%= render "public/comments/comment_new",newcomment: @newcomment, user: @user, parent_post: @post, parent_id: @post.id %>
      </div>
<!--ここからコメント欄-->
      <div id="comments_index">
        <%= render "public/comments/comments_index", view_comments: @post.child_comments %>
      </div>
    </div>
  </div>
</div>
