<!--必要な情報　users-->
<div class="row">

  <% users.each do |user| %>
  <div class="position-relative card shadow-sm col-6" >
    <%= link_to '',user_path(user,page:"posts"), class: 'position-absolute post-box-link' %>
    <div class="card-body d-flex">
      <div class="col-2">
        <%= image_tag user.get_user_image(100,100), class: 'img-fluid'%>
      </div>
      <div class="col-6 text-break">
        <%= user.name %>
      </div>
      <div class="col-4">
        <% if admin_signed_in? %>
          <%= link_to '削除', admin_user_path(user), method: :delete,class: 'position-relative post-box-link__profile btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
        <% elsif user_signed_in? %>
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", user_follows_path(user), method: :delete,class: 'position-relative post-box-link__profile btn btn-info' %>
            <% else %>
              <%= link_to "フォローする", user_follows_path(user), method: :post, class: 'position-relative post-box-link__profile btn btn-success' %>
            <% end %>
          <% end %>
        <% end %>
        
      </div>

    </div>
  </div>
  <% end %>
</div>