<div class="containar">
  <div class="row">
    <div class="col-3">
      <%= render "public/posts/profile",profile_user: @user, newpost: @newpost %>
    </div>

    <div class="col-9">
      <ul class="tab mt-3 list-unstyled">
        <li class="<%= params[:page] == 'posts'? 'active' : '' %>"><a href="#posts">投稿一覧</a></li>
        <li class="<%= params[:page] == 'bookmarks'? 'active' : '' %>"><a href="#bookmarks">ブックマーク一覧</a></li>
        <li class="<%= params[:page] == 'follows'? 'active' : '' %>"><a href="#follows">フォロー中</a></li>
      </ul>

      <div id="posts" class="area <%= params[:page] == 'posts'? 'is-active' : '' %>">
        <%= render "public/posts/post",posts: @user_posts, user: @user %>
        <!--/area-->
      </div>

      <div id="bookmarks" class="area <%= params[:page] == 'bookmarks'? 'is-active' : '' %>">
        <%= render "public/posts/post",posts: @bookmark_posts %>
        <!--/area-->
      </div>

      <div id="follows" class="area <%= params[:page] == 'follows'? 'is-active' : '' %>">
        <%= render "users_index", users: @followed_users %>
        <!--/area-->
      </div>
    </div>
  </div>
</div>

<script>
// 任意のタブにURLからリンクするための設定
  function GethashID (hashIDName){
  	if(hashIDName){
    // タブ設定
  		$('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
  			var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
  			if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
  				var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
  				$('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
  				$(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
  				//表示させるエリア設定
  				$(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
  				$(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
  			}
  		});
  	}
  }

  //タブをクリックしたら
  $('.tab a').on('click', function() {
  	var idName = $(this).attr('href'); //タブ内のリンク名を取得
  	GethashID (idName);//設定したタブの読み込みと
  	return false;//aタグを無効にする
  });
</script>